.first{
    margin-top: 20px;
    margin-left: 120px;
    border: 2px solid black;
    height: 600px;
    width: 1300px;
}
.second{
    height: 400px;
    margin-left: 50px;
    margin-right: 50px;
    border: 2px solid black;
}
.third{
    background-color: black;
    height: 300px;
    width: 400px;
    margin-left: 50%;
}
